<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Camel Clasifier</title>

    <!-- Bootstrap Core CSS -->
    <link href="[% c.uri_for('/static/css/bootstrap.min.css') %]" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="[% c.uri_for('/static/css/landing-page.css') %]" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="[% c.uri_for('/static/font-awesome-4.1.0/css/font-awesome.min.css') %]" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Camel Clasifier</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
    <div class="intro-header">

        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    [% IF error_msg %]
                    <div class="alert alert-warning alert-dismissible" role="alert">
                      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                      [% error_msg %]
                    </div>
                    [% END %]
                    <div class="intro-message">
                        <h1>Camel Clasifier</h1>
                        <h3>Obtain a web page clasification estimation</h3>
                        <hr class="intro-divider">
                        <form method="POST" role="form">
                            <div class="form-group">
                                <label for="url">Give us your URL: </label>
                                <input type="url" class="form-control" id="url" name="url" placeholder="Give it and press Enter">
                                <br/>
                                <button type="submit" class="btn btn-default">Query Us</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->
    
    <!-- Modal -->
    <div class="modal fade" id="resultModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Your Results</h4>
          </div>
          <div class="modal-body">
            <table class="table table-striped">
                <tr>
                    <th>Category</th>
                    <th>Probabilities</th>
                </tr>
                [% IF categories %]
                    [% FOR el IN categories %]
                        <tr>
                            <td>[% el.name %]</td>
                            <td>[% el.value %]</td>
                        </tr>
                    [% END %]
                [% END %]
            </table>
            <h1>Your web clasification is</h1>
            <div class="btn-group">
              <button type="button" class="btn [% IF categories && categories.last.name == 'business' %]btn-success[% ELSE %]btn-default[% END %]">Business</button>
              <button type="button" class="btn [% IF categories && categories.last.name == 'entertainment' %]btn-success[% ELSE %]btn-default[% END %]">Entertainment</button>
              <button type="button" class="btn [% IF categories && categories.last.name == 'football' %]btn-success[% ELSE %]btn-default[% END %]">football</button>
              <button type="button" class="btn [% IF categories && categories.last.name == 'science' %]btn-success[% ELSE %]btn-default[% END %]">science</button>
              <button type="button" class="btn [% IF categories && categories.last.name == 'technology' %]btn-success[% ELSE %]btn-default[% END %]">technology</button>
              <button type="button" class="btn [% IF categories && categories.last.name == 'travel' %]btn-success[% ELSE %]btn-default[% END %]">travel</button>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="[% c.uri_for('/static/js/jquery-1.11.0.js') %]"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="[% c.uri_for('/static/js/bootstrap.min.js') %]"></script>
    [% IF categories %]
    <script type="text/javascript">
        $(document).ready(function (){
            $('#resultModal').modal();
        });
    </script>
    [% END %]

</body>

</html>
